:root{
    --orange: #FCA345; 
    --yellow: #FFFC9C;
    --select_orange: #FD8F1A;
    --blue: #5868D3;
    --disable-gray: #DBDBDB;
    --black: #0000;
    --white: #FDFEFD;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
/*--------------------Header content-----------------------*/
/* nav container */
.top {
    display: flex;
    justify-content: space-between;
    background-color: var(--orange);
    color: var(--white);
    padding: 0 24px;
    width: 100%;
    text-align: center;
}
/* Logo cotainer */
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}
.logo img{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
}
.logo figcaption{
    font-size: large;
    font-weight: bold;
    padding-bottom: 0;
}
.logo img:hover, .logo figcaption:hover{
    cursor: pointer;
}
/* Menu container */
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.menu hr{
    margin: 0;
    padding: 0;
    height: 3rem;
    width: 1px;
    border-style: solid;
    color: var(--white);
    background-color: var(--white);
}
.menu li{
    list-style: none;
    font-size: x-large;
    font-weight: bold;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 1rem 0 1rem;
    height: min-content;
    border-radius: 20px;
    transition: ease-out .5s;
}
.menu li:nth-child(2){
    background-color: var(--select_orange);
}
.menu li:hover{
    background-color: var(--select_orange);
    cursor: pointer;
}
.menu li:last-child{
    margin-right: 2rem;
}

/*--------------------Main content-----------------------*/
/* Slider */
.slider{
    display: flex;
    justify-content: center;
    background-color: var(--disable-gray);
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 5rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.slider div{
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}
/* Content below slider */
.blocks{
    display: flex;
    margin: 0;
    padding: 0;
}
/* filer */
.filter{
    padding: 0;
    margin: 0 2rem;
    height: min-content;
}
.filter li{
    text-align: center;
    list-style: none;
    background-color: var(--disable-gray);
    border-radius: 20px;
    padding: .5rem;
    width: 10rem;
    margin: .5rem 0;
    transition: ease-in .2s;
}
.filter li:first-child{
    color: var(--white);
    background-color: var(--orange); 
}
.filter li:hover{
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
}
.filter li:first-child:hover{
    cursor: default;
}
/* squares */
.products{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
/* marc */
.container{
    background-color: var(--disable-gray);
    width: 15rem;
    height: 15rem;
    margin: 2.5rem;
    position: relative;
}
/* Image */
.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.container img:hover ~ div{
    opacity: 100%;
}
/* Info square *Name *Price */
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--yellow);
    position: absolute;
    font-size: large;
    
    width: 100%;
    height: 4rem;
    bottom: 0;
    opacity: 0%;
    transition: ease-in-out .5s;
}
.info p{
    margin: 0 1rem;

}
.info:hover{
    opacity: 100%;
    cursor: pointer;
}
.info p:nth-child(1){
    font-weight: bold;
}